<div class="base-wrapper">
    <h1 class="h-feature-headline h3">
        <span>
            <i class="x-icon-thumb-tack"></i><strong>Documents</strong>
        </span>
    </h1>
    
    <div class="row content-wrapper" style="min-height: 400px;padding-top: 50px;">
<!--    <embed src="https://dl.dropboxusercontent.com/s/1amfiujy8j7k80g/i4unj2cu1aiggrw/Constitution_STEMNow.pdf" width=800px height=2100px>-->
       
        <span style="font-size:171.4%;"><string>
            <a href="https://dl.dropboxusercontent.com/s/1amfiujy8j7k80g/i4unj2cu1aiggrw/Constitution_STEMNow.pdf?dl=1">
                <i class="icon-paper-clip"></i> * Organization Constitution</a></string>
        </span>    
    </div>
</div>