<div class="base-wrapper">
    
    <div class="row">
    
        <div class="col-md-6">
            <h1 class="h-feature-headline h3">
                <span>
                    <i class="x-icon-tasks"></i><strong>Events</strong>
                </span>
            </h1>
    
            
            <div class="row content-wrapper" style="min-height: 400px;padding-top: 10px;">
               <div>
                   <h4>Yahoo! Hackathon @ SJSU</h4>
                       <p>Sign up for the event <a href="http://www.eventbrite.com/e/yahoo-hackathon-tickets-15658768799">NOW!</a></p>
                    <ul style="list-style-type: none;">
                    <li><strong>Date:</strong> Feb 28, 2015 </li>
                     <li><strong>Time:</strong> 8:00 AM - 6:00 PM </li>
                     <li><strong>Place:</strong> TBA </li>
                      <li></li>
                    <li>Contact: Debra Caires, Director Internship Program, College of Science, SJSU</li>
               </ul>
               </div>
           
               <div>
                   <h4>STEM NOW's SpartaNet Information Session & Ruby on Rails Workshop</h4>
                       <p>Sign up for the event <a href="https://docs.google.com/forms/d/1_yAyfttMUDPfTsjCCIcsv-4XrNAJplRCA4Wp9PZZGOs/viewform">NOW!</a></p>
                    <ul style="list-style-type: none;">
                    <li><strong>Date:</strong> Oct 30, 2014 </li>
                     <li><strong>Time:</strong> 5:00 PM  - 7:00 PM </li>
                     <li><strong>Place:</strong> HGH 122 </li>
                      <li></li>
                    <li> - Hear about features that SpartaNet has to offer & enhance your job search </li>
                    <li> - Learn how use Ruby on Rails to rapidly prototype a simple HackerNews / Reddit app from start to finish (http://www.upvote.guru/) </li>
               </ul>
               </div>
            </div>
            
        </div>
        
        <div class="col-md-6">
            <h1 class="h-feature-headline h3">
                <span>
                    <i class="x-icon-calendar"></i><strong>Calendar</strong>
                </span>
            </h1>
    
            <div class="row content-wrapper" style="min-height: 400px;padding-top: 50px;">
                <iframe src="https://www.google.com/calendar/embed?src=cairesedebra%40gmail.com&ctz=America/Los_Angeles" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
            
            
        </div>

    
    </div>
</div>