<div class="base-wrapper">
    
    <div class="row">
    
        <div class="col-md-6">
            <h1 class="h-feature-headline h3">
                <span>
                    <i class="x-icon-tasks"></i><strong>Events</strong>
                </span>
            </h1>
    
            <div class="row content-wrapper" style="min-height: 400px;padding-top: 50px;">
                <p><strong>No Upcoming Events...</strong></p>
            </div>
            
        </div>
        
        <div class="col-md-6">
            <h1 class="h-feature-headline h3">
                <span>
                    <i class="x-icon-calendar"></i><strong>Calendar</strong>
                </span>
            </h1>
    
            <div class="row content-wrapper" style="min-height: 400px;padding-top: 50px;">
                <iframe src="https://www.google.com/calendar/embed?src=cairesedebra%40gmail.com&ctz=America/Los_Angeles" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
            
            
        </div>

    
    </div>
</div>