<div class="base-wrapper">
    <h1 class="h-feature-headline h3">
        <span>
            <i class="x-icon-flag"></i><strong>Frequently Asked Questions</strong>
        </span>
    </h1>
    
    <div class="row content-wrapper" style="min-height: 400px;padding-top: 50px;">
        <p><strong>...</strong></p>
    </div>
</div>