<div id="top" class="site"> <!-- BEGIN #top.site -->
    <div class="x-slider-revolution-container below bg-video">
      <!-- START REVOLUTION SLIDER 4.5.95 fullwidth mode -->

				<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container " style="height: 350px;max-height: 350px;margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:350px;">
			<!--		<img src="https://dl.dropboxusercontent.com/s/cdswcsjuh8cndbp/P1180328.jpg"  alt="student_spartan_pride"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
			-->	
			
				<%= render 'layouts/slideshow' %>
			</div>
				
				
				
			

				
				
				
				
				
				
				
				
				
				
		</div>      
				<!-- END REVOLUTION SLIDER -->    
				
				    
				    
				    
				
			<div class="x-main full" role="main" >
				<article id="post-98" >
					<div class="entry-content content">
						
						
						<div id="x-content-band-1" class="row" style="background-color: #ffffff; padding-top: 0px; padding-bottom: 0px;">
				    		<h1 class="h-feature-headline center-text h3" >
				    			<span>
				    				<i class="x-icon-adjust"></i>
				    				<strong>Our Mission and Goals</strong>
				    			</span>
				    		</h1>
				    </div>
								<div id="x-content-band-2" style="font-weight: bold; width: 85%; margin-left:auto; margin-right: auto;background-color: #ffffff; padding-top: 20px; padding-bottom: 40px;">
									
											<p >
												<span style="color: #000000;">
													STEM NOW is an organization dedicated to creating networking opportunities for young women to pursue learning, development, and careers in STEM fields.Through influence, support, and education, STEM NOW advocates for a balanced diversified workforce to participate in advancing the world around us.
												</span>
											</p>
											<p>
												<span style="color: #000000;">
													STEM NOW connects established women professionals with students and young graduates to provide guidance, ideas, and direction. Furthermore, this organization will create opportunities with the community by encouraging young girls to explore and participate in science and mathematics and prepare them to be confident and valued in pursuing their aspirations.
												</span>
											</p>

								</div>
							</div>
						
						
						
						<div id="x-content-band-3" class="row" style="background-color: #000000; padding-top: 0px; padding-bottom: 0px;">
						
						<div style="width: 85%;margin-left:auto; margin-right:auto;">
							<div  class="col-md-6" style="" data-fade="true" data-fade-animation="in">
								<hr  class="x-gap" style="margin: 1.713em 0 0 0;">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/7zBNG4AtdWg?list=UUIln5xtAlIwUDYe9yR61W9w" frameborder="0" allowfullscreen></iframe>
								<hr  class="x-gap" style="margin: 1.713em 0 0 0;">
							</div>
	
							<div  class="col-md-1" style="">
								</div>
							<div  class="col-md-5" style="" >
								<div  class="x-container-fluid max width" >
									<script>jQuery('').fitText(1.0);</script>
										<div id="x-content-band-5" class="x-content-band vc" style="background-color: transparent;">
											<div  class="x-column vc whole" style="" >
												<div class="wpb_raw_code wpb_content_element wpb_raw_html">
													<div class="wpb_wrapper">
														<font size="20" color="white">"Believe you can and you're halfway there."</font>
														<font color="white">
															<p align="right"> - Theodore Roosevelt</p>
														</font>
													</div> 
												</div> 
											</div>
										</div>
									</div>
								</div>
								</div>
							</div>
							
							
				<div id="x-content-band-6" class="x-content-band vc man" style="background-color: #dd3333; padding-top: 0px; padding-bottom: 0px;">
					<div  class="x-column vc whole" style="" >
						<hr  class="x-gap" style="margin: .13em 0 0 0;">
					</div>
				</div>
			
				<div id="x-content-band-7" class="x-content-band vc border-top border-left border-right border-bottom man" style="background-color: #ffffff; padding-top: 40px; padding-bottom: 10px;">
						<hr  class="x-gap" style="margin: .13em 0 0 0;">
					<div class="x-container-fluid max width">
					
					<div  class="col-md-4" style="" >
						<div  class="x-container-fluid max width" >
							<div id="x-content-band-8" class="x-content-band vc border-top border-left border-right border-bottom" style="background-color: transparent; padding-top: 15px; padding-bottom: 15px;"><div class="x-container-fluid max width">
								<div  class="" style="" >
									<div class="wpb_raw_code wpb_content_element wpb_raw_html">
										<div class="wpb_wrapper">
											<a class="twitter-timeline" href="https://twitter.com/STEMNOWgroup" data-widget-id="530802005703278594">Tweets by @STEMNOWgroup</a>
											<script>
													!function(d,s,id){
														var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
														if(!d.getElementById(id)){
															js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
															fjs.parentNode.insertBefore(js,fjs);
														}
													}(document,"script","twitter-wjs");
											</script>
										</div> 
									</div> 
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div  class="col-md-4" style="" >
					<div  class="x-container-fluid max width" >
						<div id="x-content-band-9" class="x-content-band" style="background-color: transparent; padding-top: 15px; padding-bottom: 15px;">
							<div class="x-container-fluid max width">
								<div  class="x-column vc whole" style="" >
									<div class="">
										<div class="wpb_wrapper">
											<iframe allowtransparency="true" src="http://www.facebook.com/connect/connect.php?id=309816292532171&amp;connections=0&amp;stream=1" style="border: none; width: 300px; height: 380px;" frameborder="1" scrolling="no"></iframe>
										</div> 
									</div> 
								</div>
							</div>
						</div>
					</div>
				</div>
				<div  class="col-md-4" style="" >
					<div class="wpb_raw_code wpb_content_element wpb_raw_html">
						<div class="wpb_wrapper">
							<center>
								<div style="width:195px; text-align:center;">
				  				<iframe src="http://www.eventbrite.com/countdown-widget?eid=4653432542" frameborder="0" height="479" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe>
							</center>
						</div>
					</div> 
					</div> 
					</div>
					</div>
					</div>
				
				
				<div id="x-content-band-10" class="x-content-band vc man" style="background-color: #000000; padding-top: 0px; padding-bottom: 0px;">
					<div  class="x-column vc whole" style="" >
						<div  class="x-container-fluid max width" >
							<div id="x-content-band-11" class="x-content-band vc" style="background-color: transparent;">
								<div  class="x-column vc whole" style="" >
									<div class="wpb_widgetised_column wpb_content_element">
										<div class="wpb_wrapper">
											<div id="multicolorsubscribewidget-3" class="widget MultiColorSubscribeWidget">		<!--worpdress multicolor subscribe box www.designaeon.com -->
												<p>
												<em></em>
												</p>
												<div id="multicolor-subscribe-54a09e9e775b3" class="multicolor-subscribe" style="background: ;">
													<div class="max-email-box">
														<form id="multicolor-subscribe-form-54a09e9e775b3" class="multicolor-subscribe-form" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">	
															<input id="mcolor-subbox-54a09e9e775b3" class="email commons mcolor-subbox" type="email" style="border:1px solid #ddd" id="email" name="email" value="Subscribe to our newsletter!" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>		
															<input type="hidden" value="" name="uri"/>
															<input type="hidden" name="loc" value="en_US"/>
															<input id="mcolor-button-54a09e9e775b3" class="mcolor-button" style="background:#dd3333;border:1px solid#dd3333;color:#ffffff;" class="subscribe commons" name="commit" type="submit" value="GO"/>	
															<script type="text/javascript">
																(function($) {
																   $('#mcolor-button-54a09e9e775b3').hover(function(){								
																		$(this).css({backgroundColor:"#000",borderColor:"#000",color:"#fff"});							
																   },function(){
																		$(this).css({backgroundColor:"#dd3333",borderColor:"#dd3333",color:"#ffffff"});								
																   });
																})(jQuery);
															</script>
														</form>
													</div>	
												</div>
											<!--worpdress multicolor subscribe box www.designaeon.com -->
											</div>
										</div> 
									</div> 
								</div>
							</div>
						</div>
						<hr  class="x-gap" style="margin: .13em 0 0 0;">
					</div>
				</div>
				
				
				<div id="x-content-band-12" class="x-content-band vc bg-image man" style="background-image: url(https://dl.dropboxusercontent.com/s/1n84xame7102wpd/resized-events.png); background-color: transparent; padding-top: 30px; padding-bottom: 30px;">
					<div class="x-container-fluid max width">
				<div  class="x-column vc one-half"  >
					<hr  class="x-gap" style="margin: 1.313em 0 0 0;">
				</div>
				<div  class="x-column vc one-half" >
					<hr  class="x-gap" style="margin: 2em 0 0 0;"><h1  class="h-feature-headline h2" >
						<span><i class="x-icon-calendar"></i><strong>Types of Events We Host</strong></span>
					</h1><hr  class="x-gap" style="margin: 1.313em 0 0 0;">
					<a  class="x-btn x-btn-square x-btn-regular alignright"  href="<%= events_path%>"   data-toggle="none" data-placement="top" data-trigger="hover"   data-options="thumbnail: ''">More Events</a>
					</div>
					</div>
				</div>
				<div id="x-content-band-13" class="x-content-band vc man" style="background-color: transparent; padding-top: 0px; padding-bottom: 0px;">
				<div  class="x-column vc whole" style="" ><hr  class="x-gap" style="margin: .13em 0 0 0;">
				<div id="x-content-band-14" class="x-content-band vc" style="background-color: #0a0100; padding-top: 0px; padding-bottom: 0px;">
				<div  class="x-column vc whole" style="" >
				  <h1  class="h-custom-headline center-text h3" ><span><span style="color: #ffffff;"><strong>Who We Work WIith</strong></span></span></h1>
				  <hr  class="x-gap" style="width:80%;margin: 2em 0 0 0;">
				</div></div></div>
				</div>
				
				<div id="x-content-band-15" class="row" style="width: 80%;background-color: #ffffff; padding-top: 40px; padding-bottom: 30px;margin-left:auto;margin-right:auto;">
				  <div  class="" style="" >
				
				        <div id="x-content-band-16" class="row" style="background-color: transparent;">
				          <!-- WHO WE WORK WITH SECTION -->
				          
				          <!-- Girls Who Code -->
				          <div  class="col-md-4" style="" >
				            <a  class="x-img x-img-link x-img-none none"  href="www.girlswhocode.html"  target="_blank" data-toggle="none" data-placement="top" data-trigger="hover"   data-options="thumbnail: 'http://localhost/stemnow/wp-content/uploads/2014/11/girlswhocoderesized.png'">
				              <img src="https://dl.dropboxusercontent.com/s/9mlps13m0wni8a6/girlswhocoderesized.png" >
				            </a>
				          </div>
				          
				          <!-- CISCO -->
				          <div  class="col-md-4" style="" >
				            <a  class="x-img x-img-link x-img-none none"  href="www.cisco.html"  target="_blank" data-toggle="none" data-placement="top" data-trigger="hover"   data-options="thumbnail: 'http://localhost/stemnow/wp-content/uploads/2014/11/cisco.png'">
				              <img src="https://dl.dropboxusercontent.com/s/r0cpzbppd1jsyyk/cisco.png" >
				            </a>
				          </div>
				          <!-- CloudNOW -->
				          <div  class="col-md-4" style="" >
				            <a  class="x-img x-img-link x-img-none none"  href="http://cloud-now.org/"  target="_blank" data-toggle="none" data-placement="top" data-trigger="hover"   data-options="thumbnail: 'http://localhost/stemnow/wp-content/uploads/logos/CloudNOW.png'">
				              <img src="https://dl.dropboxusercontent.com/s/gadgyu5lqa4mphz/CloudNOW.png" >
				            </a>
				          </div>
				         
				         
				        </div>
				</div>
			</div>
				<!--
				<div id="x-content-band-17" class="x-content-band vc" style="background-color: transparent;">
				<div  class="x-column vc whole" style="" >
				<div id="x-content-band-18" class="x-content-band vc" style="background-color: #0a0100; padding-top: 0px; padding-bottom: 0px;">
				
				
				<div  class="x-column vc whole" style="" >
				  <h1  class="h-custom-headline center-text h3" >
				    <span>
				      <span style="color: #ffffff;"><strong>Sponsors</strong></span>
				    </span>
				  </h1>
				  <hr  class="x-gap" style="margin: 2em 0 0 0;">
				</div></div>
				  <div id="x-content-band-19" class="x-content-band vc" style="background-color: transparent;">
				    <div  class="x-column vc one-third" style="" ></div>
				    <div  class="x-column vc one-third" style="" ></div>
				    <div  class="x-column vc one-third" style="" ></div>
				  </div>
				</div>
				</div>-->
				  
				
				</div>
				
				        <span class="visually-hidden">
				            <span class="author vcard">
				                <span class="fn">STEM NOW</span>
				            </span>
				            <span class="entry-title">
				                Home
				            </span>
				            <time class="entry-date updated" datetime="2014-11-08T05:05:11+00:00">
				                11.08.2014
				            </time>
				        </span>      
				    </article>
				
				    
				  </div>
				
		
				
				  </div> <!-- END #top.site -->
				
				  
				<script type='text/javascript' src='assets/javascripts/plugins/jquery.form.mind03d.js?ver=3.51.0-2014.06.20'></script>
			
				<script type='text/javascript' src='assets/javascripts/plugins/scriptsf39e.js?ver=4.0.1'></script>
				<script type='text/javascript' src='assets/javascripts/framework/x-body.min.js'></script>
				<script type='text/javascript' src='assets/javascripts/comment-reply.minf39e.js?ver=4.0.1'></script>
				<script type='text/javascript' src='assets/javascripts/plugins/x-shortcodes-body.min.js'></script>

				
			
			


  