<div class="base-wrapper">
    <h1 class="h-feature-headline h3">
        <span>
            <i class="x-icon-exclamation"></i><strong>News</strong>
        </span>
    </h1>
    
    <div class="row content-wrapper" style="min-height: 400px;padding-top: 10px;">
        
        <div>
           <h3>Pearson STEM Ed Series - Closing the Gender Gap</h3> 
           <p>02/20/2015</p>
           <blockquote class="twitter-tweet" lang="en"><p>We are the 18%!! Female Computer Science Majors thank you ladies for your leadership! <a href="https://twitter.com/hashtag/PearsonSTEM?src=hash">#PearsonSTEM</a> <a href="http://t.co/tkzcUmwTkj">pic.twitter.com/tkzcUmwTkj</a></p>&mdash; carolina kussoy (@utterlyindigo) <a href="https://twitter.com/utterlyindigo/status/568879748685787138">February 20, 2015</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>