<div class="base-wrapper">
    <h1 class="h-feature-headline h3">
        <span>
            <i class="x-icon-arrow-down"></i><strong>Meet The Team</strong>
        </span>
    </h1>

    <div class="row content-wrapper" style="padding-top: 60px;">
        
        
        <div class="col-md-12 profile">
    	    <div class="profile-header">
    			<img src="https://scontent-sjc.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10353565_1496679810600283_7940054304538537519_n.jpg?oh=2cf411b685a6add6341a67940883b571&oe=555A9155" alt="" class="img-circle">
    		</div>
    		
    		
    		<div class="profile-content">
    			<h3>Gianna Fusaro</h3>
    			<p class="lead position">President</p>
    			<p>
    				...
    			</p>
    		</div>
        	<div class="profile-footer">
        		<a href=""><i class="fa fa-mobile-phone"></i></a>
        		<a href="mailto:bargiannafusaro389@gmail.com"><i class="fa fa-envelope"></i></a>
        		<a href="https://github.com/giannafusaro"><i class="fa fa-github"></i></a>
        		<a href="http://www.linkedin.com/in/giannafusaro"><i class="fa fa-linkedin"></i></a>
        	</div>
	    </div><!-- /.profile -->
	    
	
	     
	    
	   <div class="col-md-12 profile">
    	    <div class="profile-header">
    			<img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10382826_10155144184620424_2907139054049443952_n.jpg?oh=d2db45b7cc79c842c718639b8794a9f2&oe=55505D4B&__gda__=1435052893_bf9a864c5dd46c3f130b27ef169b7004" alt="" class="img-circle">
    		</div>
    		
    		
    		<div class="profile-content">
    			<h3>Kisha Rikhi</h3>
    			<p class="lead position">Vice-President</p>
    			<p>
    				...
    			</p>
    		</div>
        	<div class="profile-footer">
        		<a href=""><i class="fa fa-mobile-phone"></i></a>
        		<a href="mailto:kisha.rikhi@sjsu.edu"><i class="fa fa-envelope"></i></a>
        		<a href="https://github.com/kishaaa"><i class="fa fa-github"></i></a>
        		<a href="http://www.linkedin.com/in/kisharikhi"><i class="fa fa-linkedin"></i></a>
        	</div>
	    </div><!-- /.profile -->
	    
	    <div class="col-md-12 profile">
    	    <div class="profile-header">
    			<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/1901385_10152051634152885_891352911_n.jpg?oh=3fdc356a38acdaac2cd9058cfa926631&oe=55947F0D&__gda__=1435087830_7b9dac455b2af520c5c31c3ed6847076" alt="" class="img-circle">
    		</div>
    		
    		
    	<div class="profile-content">
    			<h3>Eileen Wei</h3>
    			<p class="lead position">Treasurer</p>
    			<p>
    				...
    			</p>
    		</div>
        	<div class="profile-footer">
        		<a href=""><i class="fa fa-mobile-phone"></i></a>
        		<a href="mailto:eileenwei0105@gmail.com"><i class="fa fa-envelope"></i></a>
        		<a href="https://github.com/wei800105"><i class="fa fa-twitter"></i></a>
        		<a href="http://www.linkedin.com/in/haochiwei"><i class="fa fa-linkedin"></i></a>
        	</div>
	    </div><!-- /.profile -->
	    
	    <div class="col-md-12 profile">
    	    <div class="profile-header">
    			<img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/p843x403/10900025_10205926502990427_3853841363430367665_o.jpg" alt="" class="img-circle">
    		</div>
	    
	    	<div class="profile-content">
    			<h3>Bowen Chen</h3>
    			<p class="lead position">Treasurer</p>
    			<p>
    				...
    			</p>
    		</div>
        	<div class="profile-footer">
        		<a href=""><i class="fa fa-mobile-phone"></i></a>
        		<a href="mailto:BowenMChan@gmail.com"><i class="fa fa-envelope"></i></a>
        		<a href="https://github.com/BowenChan"><i class="fa fa-github"></i></a>
        		<a href="http://www.linkedin.com/in/BowenChan"><i class="fa fa-linkedin"></i></a>
        	</div>
	    </div><!-- /.profile -->
	    
	    
	       <div class="col-md-12 profile">
    	    <div class="profile-header">
    			<img src="" alt="" class="img-circle">
    		</div>
	    
	    	<div class="profile-content">
    			<h3>Kaya Ota</h3>
    			<p class="lead position"></p>
    			<p>
    				...
    			</p>
    		</div>
        	<div class="profile-footer">
        		<a href=""><i class="fa fa-mobile-phone"></i></a>
        		<a href=""><i class="fa fa-envelope"></i></a>
        		<a href=""><i class="fa fa-github"></i></a>
        		<a href=""><i class="fa fa-linkedin"></i></a>
        	</div>
	    </div><!-- /.profile -->
	    
	    
	     <div class="col-md-12 profile">
    	    <div class="profile-header">
    			<img src="https://dl.dropboxusercontent.com/s/1amfiujy8j7k80g/10974729_1535829626700253_4518741173947855440_o.jpg" alt="" class="img-circle">
    		</div>
	    
	    	<div class="profile-content">
    			<h3>Sunita Rajain</h3>
    			<p class="lead position"></p>
    			<p>
    				...
    			</p>
    		</div>
        	<div class="profile-footer">
        		<a href=""><i class="fa fa-mobile-phone"></i></a>
        		<a href="mailto:sunita.rajain@sjsu.edu"><i class="fa fa-envelope"></i></a>
        		<a href=""><i class="fa fa-github"></i></a>
        		<a href="https://www.linkedin.com/in/sunitarajain"><i class="fa fa-linkedin"></i></a>
        	</div>
	    </div><!-- /.profile -->
	    
	    
	     <div class="col-md-12 profile">
    	    <div class="profile-header">
    			<img src="https://dl.dropboxusercontent.com/s/btak4xizx3chs6f/10998153_10152607223575868_1252294809_o.jpg" alt="" class="img-circle">
    		</div>
	    
	    	<div class="profile-content">
    			<h3>Hong Le</h3>
    			<p class="lead position"></p>
    			<p>
    				Hi everyone, my name is Hong Le, I’m a masters candidate in computer science and my concentration is UX/UI design. I strongly believe in simple and good design can impact life for good. I am also a strong supporter of women rights and universal health reforms.
    			</p>
    		</div>
        	<div class="profile-footer">
        		<a href=""><i class="fa fa-mobile-phone"></i></a>
        		<a href="mailto:hong.n.le@sjsu.edu"><i class="fa fa-envelope"></i></a>
        		<a href=""><i class="fa fa-github"></i></a>
        		<a href="https://www.linkedin.com/in/hongnle"><i class="fa fa-linkedin"></i></a>
        	</div>
	    </div><!-- /.profile -->
	    
	    
	    
	    
	    
	    
	     <div class="col-md-12 profile">
    	    <div class="profile-header">
    			<img src="https://scontent-sjc.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10294490_535138569947550_7330292109863160191_n.jpg?oh=b553fb4fcdd5a20c8d9d21f1bb921844&oe=55579BD0" alt="" class="img-circle">
    		</div>
	    
	    	<div class="profile-content">
    			<h3>Debra Caires</h3>
    			<p class="lead position">Advisor</p>
    			<p>
    			</p>
    		</div>
        	<div class="profile-footer">
        		<a href="tel:408-924-5166"><i class="fa fa-mobile-phone"></i></a>
        		<a href="mailto:debra.caires@sjsu.edu"><i class="fa fa-envelope"></i></a>
        		<a href=""><i class="fa fa-twitter"></i></a>
        		<a href="https://www.linkedin.com/in/debracaires"><i class="fa fa-linkedin"></i></a>
        	</div>
	    </div><!-- /.profile -->
	     
	 
	    
	           
	   
    </div>

</div>