@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$red: #e20016;

html{
  
}


body{
    background-color:#ffffff;
    font-family: 'Lato', sans-serif;
  }
  a,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,.x-topbar .p-info a:hover,.x-breadcrumb-wrap a:hover,.widget ul li a:hover,.widget ol li a:hover,.widget.widget_text ul li a,.widget.widget_text ol li a,.widget_nav_menu .current-menu-item > a,.x-widgetbar .widget ul li a:hover,.x-accordion-heading .x-accordion-toggle:hover,.x-comment-author a:hover,.x-comment-time:hover{color:#e20016;}
  a:hover,.widget.widget_text ul li a:hover,.widget.widget_text ol li a:hover,.x-twitter-widget ul li a:hover,.x-recent-posts a:hover .h-recent-posts{color:#d80f0f;}
  .rev_slider_wrapper,a.x-img-thumbnail:hover,.x-slider-revolution-container.below,.page-template-template-blank-3-php .x-slider-revolution-container.above,.page-template-template-blank-6-php .x-slider-revolution-container.above{border-color:#e20016;}
  .entry-thumb:before,.pagination span.current,.flex-direction-nav a,.flex-control-nav a:hover,.flex-control-nav a.flex-active,.jp-play-bar,.jp-volume-bar-value,.x-dropcap,.x-skill-bar .bar,.x-pricing-column.featured h2,.h-comments-title small,.x-entry-share .x-share:hover,.x-highlight,.x-recent-posts .x-recent-posts-img,.x-recent-posts .x-recent-posts-img:before,.tp-bullets.simplebullets.round .bullet:hover,.tp-bullets.simplebullets.round .bullet.selected,.tp-bullets.simplebullets.round-old .bullet:hover,.tp-bullets.simplebullets.round-old .bullet.selected,.tp-bullets.simplebullets.square-old .bullet:hover,.tp-bullets.simplebullets.square-old .bullet.selected,.tp-bullets.simplebullets.navbar .bullet:hover,.tp-bullets.simplebullets.navbar .bullet.selected,.tp-bullets.simplebullets.navbar-old .bullet:hover,.tp-bullets.simplebullets.navbar-old .bullet.selected,.tp-leftarrow.default,.tp-rightarrow.default{background-color:#e20016;}
  .x-recent-posts a:hover .x-recent-posts-img,.tp-leftarrow.default:hover,.tp-rightarrow.default:hover{background-color:#d80f0f;}
  
  


/* styles for mobile */




  .nav{
    float: right;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.09em;
    .dropdown-menu{
         font-size: 12px;

    }

  }
  .dropdown-menu{
      border: none;
  }
  .nav a{

  }
  .nav > .active > a,.nav > .active > a:hover{
    -webkit-box-shadow:inset 0 3px 0 0 #e20016;
    box-shadow:inset 0 3px 0 0 #e20016;

    
  }
    .x-container-fluid.width{width:86%;}
    .x-container-fluid.max{max-width:1200px;}
  .x-main{
    width:68.536945%;
  }
    .x-sidebar{width:26.536945%;}
  .x-topbar .p-info,.x-topbar .p-info a,.nav > li > a,.nav .dropdown-menu a,.x-breadcrumb-wrap a,.x-breadcrumbs .delimiter{
    color:#b70000;
  }
  .nav > li > a:hover,.nav > a,.nav > .current-menu-item > a,.nav .dropdown-menu a:hover,.nav .dropdown-menu  > a,.nav .dropdown-menu .current-menu-item > a,.nav .dropdown-menu > li > a{
    color:#272727;
  }
  .nav > li > a:hover,.nav > a,.nav > .current-menu-item > a{
    -webkit-box-shadow:inset 0 4px 0 0 #e20016;
    box-shadow:inset 0 4px 0 0 #e20016;
  }
  .nav > li > a{
    height:95px;
    padding-top:34px;
  }
  .sf-menu > li ul{
    top:80px;
  }
  .x-comment-author,.x-comment-time,.comment-form-author label,.comment-form-email label,.comment-form-url label,.comment-form-rating label,.comment-form-comment label,.widget_calendar #wp-calendar caption,.widget.widget_rss li .rsswidget{
    font-family:Abel;
    font-weight:400;
  }
  .p-landmark-sub,.p-meta,input,button,select,textarea{
    font-family:Montserrat;
  }
  @media (max-width:979px){
  .x-navbar .x-nav-collapse .x-nav li a{
    color:#b70000;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  .nav li a:hover,.nav .current-menu-item > a{
    color:#272727;
  }
  .x-widgetbar{
    left:0;right:0;
  }
  }
  body{
    font-size:14px;
    font-style:normal;
    font-weight:400;
  }
  a:focus,select:focus,input[type="file"]:focus,input[type="radio"]:focus,input[type="submit"]:focus,input[type="checkbox"]:focus{
    outline:thin dotted #333;
    outline:5px auto #e20016;
    outline-offset:-1px;
  }
  h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-style:normal;
    font-weight:400;
    letter-spacing:1px;
  }
  .x-main.full{
    float:none;
    display:block;
    width:auto;
  }
  
  
  @media (max-width:979px){
    .x-main.full,.x-main.left,.x-main.right,.x-sidebar.left,.x-sidebar.right{
      float:none;
      display:block;
      width:auto !important;
    }
  }
  .entry-header,.entry-content{
    font-size:14px;
  }
  .x-brand{
    font-style:normal;
    font-weight:400;
    letter-spacing:-2px;
    text-transform:uppercase;
  }
  .x-brand img{
    width:75px;
  }
  body,input,button,select,textarea{
    font-family:"Montserrat","Helvetica Neue",Helvetica,sans-serif;
  }
  h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family:"Abel","Helvetica Neue",Helvetica,sans-serif;
  }
  .x-brand{
    font-family:"ABeeZee","Helvetica Neue",Helvetica,sans-serif;
  }
  .x-navbar .x-nav > li > a{
    font-family:"Montserrat","Helvetica Neue",Helvetica,sans-serif;
  }
  .x-navbar{
    font-size:11px;
  }
  body.x-navbar-fixed-top-active .x-navbar-wrap{
    height:95px;
  }
  .nav-inner{
    min-height:95px;
  }
  .x-brand{
    font-size:54px;
    font-size:5.4rem;
  }
  .nav .x-brand{
    margin-top:16px;
  }
  .nav > li > a{
    font-style: normal;
    font-weight:bold;
  }
  .x-btn-navbar{
    margin-top:20px;
  }
  .x-btn-navbar,.x-btn-navbar.collapsed{
    font-size:24px;
  }
  @media (max-width:979px){
    body.x-navbar-fixed-top-active .x-navbar-wrap{
      height:auto;
    }
  }
  .x-btn,.button,[type="submit"]{
    color:#ffffff;
    border-color:#0a0000;
    background-color:#0a0000;
  }
  .x-btn:hover,.button:hover,[type="submit"]:hover{
    color:#ffffff;
    border-color:#600900;
    background-color:#ef2201;
  }
  .x-btn.x-btn-real,.x-btn.x-btn-real:hover{
    margin-bottom:0.25em;
    text-shadow:0 0.075em 0.075em rgba(0,0,0,0.65);
  }
  .x-btn.x-btn-real{
    -webkit-box-shadow:0 0.25em 0 0 #a71000,0 4px 9px rgba(0,0,0,0.75);
    box-shadow:0 0.25em 0 0 #a71000,0 4px 9px rgba(0,0,0,0.75);
  }
  .x-btn.x-btn-real:hover{
    -webkit-box-shadow:0 0.25em 0 0 #a71000,0 4px 9px rgba(0,0,0,0.75);
    box-shadow:0 0.25em 0 0 #a71000,0 4px 9px rgba(0,0,0,0.75);
  }
  .x-btn.x-btn-flat,.x-btn.x-btn-flat:hover{
    margin-bottom:0;
    text-shadow:0 0.075em 0.075em rgba(0,0,0,0.65);
    -webkit-box-shadow:none;box-shadow:none;
  }
  .x-btn.x-btn-transparent,.x-btn.x-btn-transparent:hover{
    margin-bottom:0;
    border-width:3px;
    text-shadow:none;
    text-transform:uppercase;
    background-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  .x-btn-circle-wrap:before{
    width:172px;
    height:43px;
    background:url(/assets/images/btn-circle-top-small.png) center center no-repeat;
    -webkit-background-size:172px 43px;
    background-size:172px 43px;
  }
  .x-btn-circle-wrap:after{
    width:190px;
    height:43px;
    background:url(/assets/images/btn-circle-bottom-small.png) center center no-repeat;
    -webkit-background-size:190px 43px;background-size:190px 43px;
  }
  .x-btn,.x-btn:hover,.button,.button:hover,[type="submit"],[type="submit"]:hover{
    text-shadow:0 0.075em 0.075em rgba(0,0,0,0.5);
  }
  .x-btn,.button,[type="submit"]{
    border-radius:100em;
  }




























.base-wrapper{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
 
.content-wrapper{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
} 




/* ==============================================
   Team profiles
   ============================================== */
.profiles {
  margin-bottom: -20px;
}
.intro {
  padding-left: 140px;
}
.intro h2 {
  margin: 0 0 7px;
}
.intro .lead {
  line-height: 120%;
  font-size: 1.1em;
  font-style: italic;
  margin: 0 0 35px;
}
.profile {
  position: relative;
  margin: 0 0 100px;
}
.profile:nth-child(even) {
  clear: left;
}
.profile-header {
  position: absolute;
  top: 0;
}
.profile-header img {
  float: left;

  width: 100px;
  height: 100px;
}
.profile-content {
  font-size: 14px;
  padding: 27px 20px 0 0;
  line-height: 1.4em;
  margin: 0 0 0 125px;
}
.profile-content h3 {
  margin: 0;
  font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b3b3b1;
    font-weight: 400;
}
.profile-content .lead {
  font-size: 1.3em;
  line-height: 100%;
  font-style: italic;
  margin: 3px 0 20px;
  
}
.profile-content:before {
  content: '';
  width: 36px;
  height: 3px;
  background: #dededc;
  position: absolute;
  top: 0;
}
.profile-content p {
  margin: 0 0 10px;
}
.profile-footer {
  position: absolute;
  top: 121px;
  width: 100px;
  text-align: center;
}
.profile-footer a {
  line-height: 18px;
  margin: 0 3px;
  display: inline-block;
}
.profile-footer a:hover i {
  color: #595959;
}
.profile-footer a:active i {
  color: #000;
}
.profile-footer i {
  font-size: 18px;
  position: relative;
}
.profile-footer i.icon-envelope {
  font-size: 16px;
  top: -1px;
}
.profile-footer i.icon-linkedin {
  font-size: 16px;
  top: -1px;
}




/* Slide Show*/
.slide-container {
    height: 100%;
    width: 100%;
    float: center;
    overflow: hidden;
}
.slide-container img {
    display: block;
    width: 100%;
}

.icon-bar{
  background: #777;
}

