  <footer class="x-colophon bottom" role="contentinfo">
      <div class="x-container-fluid max width">

        
                  <div class="x-social-global" >
            	
            	<a href="https://www.facebook.com/stemnow" class="facebook" title="Facebook" target="_blank">
            		<i class="fa fa-facebook-square"></i>
            	</a>
            	
            	<a href="https://twitter.com/stemnowgroup" class="twitter" title="Twitter" target="_blank">
            		<i class="fa fa-twitter"></i>
            	</a>
            	</div>        
                  <div class="x-colophon-content">
            <p style="letter-spacing: 2px; text-transform: uppercase; opacity: 0.5; filter: alpha(opacity=50);">STEM NOW 2015</p>

          </div>
        
      </div>
    </footer>